#app{
    font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

* {
    font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

:root {
    --color-black: #2c3e50;
}

a {
    color: var(--color-black) !important;
}

body, .paper_background {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;
}